<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="apptools-util.ZPM">
    <Module>
    <Name>apptools-util</Name>
    <Version>1.1.2</Version>
	<Description>ZAPP extending the ZPM commands, the standard ZPM commands also work as from the zpm shell.</Description>
    <Packaging>module</Packaging>
	<Dependencies>
      <ModuleReference>
        <Name>apptools-admin</Name>
        <Version>1.1.*</Version>
      </ModuleReference>
    </Dependencies>
	<SourcesRoot>src</SourcesRoot>
	<Invokes>
     <Invoke Class="apptools.util.zapp" Method="init"></Invoke>
    </Invokes>
	<Resource Name="apptools.util.PKG"/>
    </Module>
  </Document>
</Export>
